=border($shadow, $border)
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    box-shadow: $shadow

    border: $border

=border-rad($radius)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius